.widget-header {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.widget-header .notify {
  position: absolute;
  top: -3px;
  right: -10px;
}

.icontext {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.icontext .icon {
  position: relative;
  margin-right: 10px;
  flex-shrink: 0;
  flex-grow: 0;
}

.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
  font-size: 20px;
}

.icon-xs,
.icon-sm,
.icon-md,
.icon-lg {
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.header-main {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}
.brand-wrap .logo,
.navbar-brand .logo {
  margin-right: 7px;
  max-height: 42px;
  display: inline-block;
}
